Repository spectacles-ci/spectacles: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, poetry-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --check
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: isort --check-only --diff
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true

      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        args:
          - "--lock"
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$

Update CI script
  .circleci/config.yml
Due: none

Change version bump from patch to minor
  pyproject.toml
Due: poetry-check

Add tox
  poetry.lock
  pyproject.toml
  tox.ini
Due: poetry-check

Bump version to 2.4.0
  pyproject.toml
Due: poetry-check

Use correct import for new Segment package
  spectacles/tracking.py
Due: black, flake8, isort, mypy

Bump dependencies
  poetry.lock
Due: poetry-check

Bump package patch version
  pyproject.toml
Due: poetry-check

Fix tests
  tests/unit/test_tracking.py
Due: black, flake8, isort, mypy

Pin segment-analytics-python
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version to v2.4.2
  pyproject.toml
Due: poetry-check

account for new Looker logic
  spectacles/client.py
Due: black, flake8, isort, mypy

Bump version to 2.4.3
  poetry.lock
  pyproject.toml
Due: poetry-check

add better error message for new run_query issues
  spectacles/client.py
  spectacles/validators/sql.py
Due: black, flake8, isort, mypy

fix tests
  tests/unit/test_client.py
Due: black, flake8, isort, mypy

Update expired query settings
  spectacles/validators/sql.py
Due: black, flake8, isort, mypy

Update pyproject.toml
  pyproject.toml
Due: poetry-check

account for View Not Found in run_query
  spectacles/client.py
Due: black, flake8, isort, mypy

Specify httpcore
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version to 2.4.6
  pyproject.toml
Due: poetry-check

Ensure the branch manager is ephemeral for pin import runs
  spectacles/runner.py
Due: black, flake8, isort, mypy

Update patch version
  pyproject.toml
Due: poetry-check

use personal branch
  spectacles/client.py
  spectacles/runner.py
  tests/integration/test_branch_manager.py
  tests/integration/test_runner.py
Due: black, flake8, isort, mypy

pass use personal branch from CLI
  spectacles/cli.py
  spectacles/runner.py
Due: black, flake8, isort, mypy

update tests
  tests/integration/test_runner.py
Due: black, flake8, isort, mypy

fixes
  spectacles/cli.py
  spectacles/runner.py
Due: black, flake8, isort, mypy

fix state issues
  spectacles/runner.py
Due: black, flake8, isort, mypy

move pin imports arg
  spectacles/cli.py
Due: black, flake8, isort, mypy

fix production logic
  spectacles/runner.py
Due: black, flake8, isort, mypy

Updated spectacles modules for assert concurrency configuration
  spectacles/cli.py
  spectacles/runner.py
  spectacles/validators/data_test.py
Due: black, flake8, isort, mypy

fix tests
  spectacles/cli.py
Due: black, flake8, isort, mypy

rename to concurrency
  spectacles/cli.py
  spectacles/runner.py
  spectacles/validators/data_test.py
Due: black, flake8, isort, mypy
