Repository spectacles-ci/spectacles: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, poetry-check

black:
  name: black
  entry: black --check
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort --check-only --diff
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false
  args:
  - --lock

fix typo
  spectacles/runner.py
Due: black, flake8, isort, mypy

fix runner integration test
  tests/integration/test_runner.py
Due: black, flake8, isort, mypy

update warning message
  spectacles/runner.py
Due: black, flake8, isort, mypy

make SQL optional in JsonBi metadata
  spectacles/models.py
Due: black, flake8, isort, mypy

Bump version from 2.4.14 -> 2.4.15
  pyproject.toml
Due: poetry-check

fix type
  spectacles/models.py
Due: black, flake8, isort, mypy

Only build LookML project once when running SQL validator incrementally
  spectacles/runner.py
Due: black, flake8, isort, mypy

combine compiling SQL into a single API call
  spectacles/client.py
  spectacles/validators/sql.py
  tests/unit/test_client.py
  tests/unit/test_sql_validator.py
Due: black, flake8, isort, mypy

lint
  spectacles/client.py
Due: black, flake8, isort, mypy

Bump version 2.4.15 -> 2.4.16
  pyproject.toml
Due: poetry-check

Add project_names and space_ids params to content_validation API call
  spectacles/client.py
  spectacles/validators/content.py
  tests/unit/test_content_validator.py
Due: black, flake8, isort, mypy

cleanup mocks and formatting
  spectacles/client.py
  spectacles/validators/content.py
  tests/unit/test_content_validator.py
Due: black, flake8, isort, mypy

Fix integration test and Josh nit
  spectacles/client.py
  spectacles/validators/content.py
Due: black, flake8, isort, mypy

Bump version 2.4.16 -> 2.4.17
  pyproject.toml
Due: poetry-check

Revise security policy and reporting instructions
  SECURITY.md
Due: none

Change branch manager to use ephemeral context
  spectacles/runner.py
Due: black, flake8, isort, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
